<header>
<nav class="navbar navbar-expand-md navbar-light bg-light ">
    <div class="container">
      <%= link_to "Electro Space Cafe", root_path, id: "logo", class: 'navbar-brand abs d-none d-md-block' %>
      <%= link_to "es.c", root_path, id: "logo", class: 'navbar-brand d-block d-md-none' %>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapseNavbar">
        <% if logged_in? %>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="//codeply.com">Forums</a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="" data-bs-target="#myModal" data-bs-toggle="modal">Presets</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                       <li><%= link_to "Log out", logout_path, data: { "turbo-method": :delete}, class: 'dropdown-item'  %> </li>
                    </ul>
                </li>
            </ul>
          <% else %>
          <ul class="navbar-nav ms-auto">
          <li class="nav-item  mx-0"><%= link_to "Sign up", signup_path, class: "nav-link ms-auto" %></li>
            <li class="nav-item mx-0"><%= link_to "Log in", login_path, class: "nav-link" %></li>
          </ul>
          <% end %>
        </div>
    </div>
</nav>






<!--
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">
      <%= link_to "Electro Space Cafe", root_path, id: "logo", class: 'navbar-brand mx-auto' %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if logged_in? %>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Help", help_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "Profile", current_user, class: 'dropdown-item' %></li>
            <li><%= link_to "Settings", '#', class: 'dropdown-item'  %> </li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "Log out", logout_path, data: { "turbo-method": :delete}, class: 'dropdown-item'  %> </li>
            </ul>
          </li>
          <% else %>
            <!--<li class="nav-item"><%= link_to "Log in", login_path, class: "nav-link" %></li>
          <% end %>
        </ul>
        <%# <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> %>
      </div>
    </div>
  </nav> -->
</header>